body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.men_navbar {
  height: 50px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.men_logo {
  background-image: url("logo.png");
  height: 50px;
  width: 100px;
  background-size: cover;
  /* margin-left: 20px; */
  align-items: center;
  flex-wrap: nowrap;
}
.main_menu {
  width: 75%;
  text-align: center;
  color: #000000f2;
}

.main_menu a {
  padding: 0px 10px;
  font-size: 0.85rem;
  background-color: white;
  border: none;
}

.men_box {
  display: flex;
}
.card {
  font-size: 17px;
  padding: 0px 1rem;
}

/* hero section */

.men_heaer {
  background-image: url("lapto2.jpg");
  height: 550px;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .men_heaer {
  display: flex;
  flex-direction: ;
} 
.men_heaer div {
  text-align: center;
  margin: 40px 0px 4px;
} */

.June {
  font-size: 1.5rem;
  height: 2rem;
  opacity: 0.7;
}

.oneplus13 {
  font-size: 2.3rem;
  font-weight: 500;
}

.Stronger {
  opacity: 0.8;
}

.btn {
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 4px 16px;
  font-size: 16px;
}

.imgbox2 {
  background-image: url("imgebox2.jpg");
  height: 550px;
  width: 100%;
}
